* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.inbox {
  background-color: azure;
  /* padding: 2rem; */
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.75), 0 0 14px rgba(0, 0, 0, 0.95);
}

.item {
  display: flex;
  /* gap: 1rem; */
  align-items: center;
  padding-block: 1rem;
  border-bottom: 1px solid grey;
  position: relative;
}

.item > * {
  margin-inline: 1.5rem;
}

input {
  /* position: relative; */
  border-right: 1px solid grey;
}

.item::after {
  content: "";
  height: 100%;
  width: 2px;
  background-color: grey;
  position: absolute;
  left: 3rem;
}

p {
  margin-left: 0;
}

.added {
  background-color: rgba(228, 224, 217, 0.527);
}

.added p {
  text-decoration: line-through;
}
